* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Alegreya", serif;
    scroll-behavior: smooth;
}

.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    position: fixed;
    left: 90%;
    z-index: 2;
}

.hamburger .bar {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 3px ;
    transition: all 0.3s;
}


nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: transparent;
}

#logo {
    width: 6rem;
    margin: auto 0;
    border-radius: 100px;
}

nav ul {
    display: flex;
    list-style-type:none;
    margin-right: 45px;
    gap: 100px;
}

nav ul li a {
    text-decoration: none;
    cursor: pointer;
    color: white;
    font-size: 1.4rem;
}

.slide-border {
    position: relative;               /* Ensures pseudo-element is positioned relative to the anchor tag */                   /* Text color */
    text-decoration: none;            /* Remove default underline */
    padding-bottom: 5px;              /* Space for the bottom border */
  }

.slide-border::after {
    content: '';                      /* Creates the pseudo-element */
    position: absolute;               /* Position it relative to the anchor */
    left: 0;                          /* Start from the left */
    bottom: 0;                        /* Align to the bottom of the text */
    width: 0%;                        /* Start with zero width */
    height: 2px;                      /* Border thickness */
    background:
     linear-gradient(45deg, #133E87, #7E60BF, #FF6500, #133E87, #7E60BF);        /* Border color */
    transition: width 0.4s ease;      /* Smooth transition for width change */
}
  
.slide-border:hover::after {
    width: 100%;                      /* Expand the border to full width on hover */
}

section#aboutUs {
    width: 100%;

}

div#aboutusContent {
    width: 100%;
    background: linear-gradient(rgba(50, 20, 30, 0.5), rgba(50, 20, 30, 0.5)), url(images/163935.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#headingOne {
    color: snow;
    font-size: 6rem;
    padding: 0px 150px ;
}

span {
    font-size: 10rem;
}

div#aboutusContent p {
    color: white;
    text-align: left;
    font-size: 1.5rem;
    padding: 0px 150px 150px;
}

#teamMember {
    width: 100%;
    padding: 200px 30px;
    background-image: url(images/top-view-work-desk-with-drawing-pad-glasses-with-copy-space.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative; 
}

#headingTwo {
    text-align: center;
    font-size: 6rem;
    margin-bottom: 50px;
    color: white;
}

#container {
    display: flex;
    justify-content: space-around;
    padding-top: 100px;
}

.members {
    border: none;
    border-bottom: 2px solid red;
    text-align: center;
    padding: 10px;
    transition: transform 0.3s;
    margin: 0px 20px;
}

.members:hover {
    transform: translateY(-20px);
} 

.memImage {
    width: 80%;
    height: 250px;
    border-top-right-radius: 40px;
    border-bottom-left-radius: 40px;
    object-fit: cover;
    object-position: center;
}

h4 {
    font-weight: bolder;
    color: snow;
}

.designation {
    font-weight: 50;
    color: skyblue;
}

.description {
    color: snow;
}

.social-icons a {
    color: white;
    font-size: 20px;
    transition: color 0.3s;
    margin: 0 5px;
}

.social-icons a:hover {
    color: #007bff;
}

footer {
    background-color: #222;
    color: #fff;
    text-align: center;
    padding: 20px 0px;
    padding-bottom: 40px;
}

.footer-nav {
    justify-content: center;
    margin: 50px 0px;
}

.footer-nav ul li a {
    margin: 20px;
}

  
.footer-container p {
    margin: 0;
    font-size: 14px;
    color: #ccc;
}

footer i {
    color: white;
    margin: 30px 20px;
    font-size: 1.2rem;
}


@keyframes slideIn {
    from {
      opacity: 0;
      transform: translateY(-100%); 
    }
    to {
      opacity: 1;
      transform: translateY(0); 
    }
}

@media (max-width:480px) {

    nav ul {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 30px;
        right: 15px;
        width: 130px;
        height: 220px;
        background: transparent;
        align-items: center;
        opacity: 0;
        transform: translateY(-100%);
        transition: opacity 0.3s ease, transform 0.3s ease;
    }

    .hamburger {
        display: flex;
    }

    nav ul.active {
        display: block;
        text-align: center;
        animation: slideIn 0.5s forwards ease-in-out;
        position: fixed;
        z-index: 2;
        background-color: black;
    }
    

    nav ul li {
        margin: 20px 0;
    }

    nav ul li a {
        font-size: 0.8rem;
    }

    #headingOne {
        font-size: 2rem;
        padding: 0px 35px;
    }

    #logo {
        width: 4rem;
    }

    span {
        font-size: 4rem;
    }

    div#aboutusContent p{
        font-size: 1rem;
        margin-top: 10px;
        padding: 0px 35px;
    }

    div#aboutusContent {
        padding: 0px 0px 50px;
    }

    #headingTwo {
        font-size: 2rem;
    }

    #container {
        flex-direction: column;
        align-items: center;
    }

    .members {
        width: 80%;
        margin-bottom: 40px;
    }

    .memImage {
    border-top-right-radius: 40px;
    border-bottom-left-radius: 40px;
    }
    
}


@media (min-width:481px) and (max-width: 768px) {

    nav ul {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 30px;
        right: 15px;
        width: 130px;
        height: 220px;
        background: transparent;
        align-items: center;
        opacity: 0;
        transform: translateY(-100%);
        transition: opacity 0.3s ease, transform 0.3s ease;
    }

    .hamburger {
        display: flex;
    }

    nav ul.active {
        display: block;
        text-align: center;
        animation: slideIn 0.5s forwards ease-in-out;
        position: fixed;
        z-index: 2;
        background-color: black;
    }

    nav ul li {
        margin: 20px 0;
    }

    nav ul li a {
        font-size: 1rem;
    }

    #logo {
        width: 5rem;
    }

    #headingOne {
        font-size: 3rem;
        padding:0px 35px ;
    }

    span {
        font-size: 5rem; 
    }

    div#aboutusContent p {
        font-size: 1.1rem; 
        padding: 5px 35px 60px;
    }

    #teamMember {
        height: auto;
        padding-top: 30px;
    }

    #headingTwo {
        font-size: 3rem;
         padding-top: 50px;
    }

    #container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .members {
        width: 80%; 
        height: auto;
        margin-top: 50px;
    }

    .memImage {
        border-radius: 0;
        width: 60%; 
        height: 200px;
    }

    .memImage {
        border-top-right-radius: 40px;
        border-bottom-left-radius: 40px;
        }


    footer {
        padding: 15px 0;
    }

    footer p {
        font-size: 12px;
    }

   
}
